<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title> <%= title %> </title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v1.6.1/mapbox-gl.css' rel='stylesheet' />
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/post-show.css">
    <link rel="stylesheet" href="/stylesheets/starability-basic.min.css">
</head>
<body>
    <% include ../partials/navbar %>
    <% include ../partials/flash-messages %>
    <%- body -%>

    <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v1.6.1/mapbox-gl.js'></script>
    <script src="https://kit.fontawesome.com/3f18385c23.js" crossorigin="anonymous"></script>
    <script src="/javascripts/post-show.js"></script>
</body>
</html>