<% layout('layouts/boilerplate') -%>

<form action="/login" method="post">
    <div>
        <label for="username">Username :</label>
        <input type="text" id="username" name="username" placeholder="Username" required>
    </div>
    <div>
        <label for="password">Password :</label>
        <input type="password" id="password" name="password" placeholder="Password" required>
    </div>
    <div>
        <a href="/forgot-password">Forgot password?</a>
    </div>
    <input type="submit">
</form>