<% layout('layouts/boilerplate') -%>

<h1><img src="<%= currentUser.image.secure_url %>" alt="<%= currentUser.username %>'s profile image" class="profile-image"><%= currentUser.username %>'s Profile</h1>

<p>Recent Posts:</p>

<% posts.forEach(function(post) { %> 
<div>
    <a href="/posts/<%= post.id %>"><%= post.title %></a>
</div>
<% }); %> 

<form action="/profile?_method=PUT" method="post" enctype="multipart/form-data">
    <div>
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" placeholder="username" value="<%= currentUser.username %>">
    </div>
    <div>
        <label for="current-password">Current Password (required to update profile):</label>
        <input type="password" id="current-password" name="currentPassword" placeholder="current password" required>
    </div>
    <div>
        <label for="new-password">New Password:</label>
        <input type="password" id="new-password" name="newPassword" placeholder="new password">
    </div>
    <div>
        <label for="password-confirmation">Password Confirmation:</label>
        <input type="password" id="password-confirmation" name="passwordConfirmation" placeholder="password confirmation">
    </div>
    <div id="validation-message"></div>
    <div>
        <label for="email">Email:</label>
        <input type="text" id="email" name="email" placeholder="email" value="<%= currentUser.email %>">
    </div>
    <div>
        <label for="image">Image:</label>
        <small>(this deletes existing)</small>
        <input type="file" id="image" name="image">
    </div>
    <input type="submit" id="update-profile">
</form>

<script src="/javascripts/profile.js"></script>