<% layout('layouts/boilerplate') -%>

<form action="/register" method="post" enctype="multipart/form-data">
    <div>
        <label for="username">Username :</label>
        <input type="text" id="username" name="username" placeholder="Username" value="<%= username %>" required>
    </div>
    <div>
        <label for="password">Password :</label>
        <input type="password" id="password" name="password" placeholder="Password" required>
    </div>
    <div>
        <label for="email">Email :</label>
        <input type="text" id="email" name="email" placeholder="Email" value="<%= email %>" required>
    </div>
    <div>
        <label for="image">Image :</label>
        <input type="file" id="image" name="image">
    </div>
    <input type="submit">
</form>