#map {
  width: 400px;
  height: 300px;
}
.marker {
    background-image: url('/images/mapbox-icon.png');
    background-size: cover;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
}

.edit-review-form {
  display: none;
}

.clear-rating {
  display: block;
}