<h1>Edit Post</h1>

<form action="/posts/<%= post.id %>?_method=PUT" method="post" id="postEditForm" enctype="multipart/form-data">
    <div><input type="text" name="post[title]"placeholder="Title" value="<%= post.title %>"></div>
    <div><input type="number" min='0' step='.01' name="post[price]"placeholder="Price" value="<%= post.price %>"></div>
    <div>
        <input type="file" id="imageUpload" name="images" accept="images/*" multiple>
    </div>
    <% post.images.forEach((image, i) => { %>
        <img src="<%= image.url %>" alt="" width="200px">
        <label for="image<%= i %>">Delete?</label>
        <input type="checkbox" class="imageDeleteCheckbox" name="deleteImages[]" id="image<%= i %>" value="<%= image.public_id %>">
    <% }); %>
    <div>
        <textarea name="post[description]" id="" cols="30" rows="3" placeholder="Description"><%= post.description %></textarea>
    </div>
    <div><input type="text" name="post[location]" placeholder="Location" value="<%= post.location %>"></div>

    <input type="submit" value="Submit">
</form>

<script src="/javascripts/post-edit.js"></script>