<% layout('layouts/boilerplate') -%>
<h1>New Post</h1>
<a href="/posts">Back</a>
<form action="/posts" method="post" enctype="multipart/form-data">
    <div><input type="text" name="post[title]"placeholder="Title"></div>
    <div><input type="number" min='0' step='.01' name="post[price]"placeholder="Price"></div>
    <div>
        <input type="file" name="images" accept="images/*" multiple>
    </div>
    <div><textarea name="post[description]" id="" cols="30" rows="10" placeholder="Description">Description</textarea></div>
    <div><input type="text" name="post[location]" placeholder="Location"></div>

    <input type="submit" value="Submit">
</form>