<% layout('layouts/post-show-layout') -%>
<a href="/posts"><-Go Back</a>
<h1> <%= post.title  %> </h1>
<div>Price: <%= post.price %></div>
<div><%= post.description %></div>
<div><%= post.location %></div>
<div>
<% for(let i = 0; i < 5; i++) { %>   
    <% if(i < floorRating) { %>  
         <!-- display a full star  -->
         <i class="fas fa-star"></i>
    <% } else if((post.avgRating - i) > 0 && (post.avgRating - i) < 1) { %> 
        <!--  display a half star -->
        <i class="fas fa-star-half-alt"></i>
    <% } else { %> 
        <!--  display an empty star -->
        <i class="far fa-star"></i>
    <% } %> 
    <% } %> 
    <%= `${post.avgRating} star${post.avgRating <= 1 ? '' : 's'}` %> 
</div>
<div>
    <% post.images.forEach(image => { %>
    <img src="<%= image.url %>" alt="" width='200px' height='150px'>
    <% }); %>
</div>
<div id="map"></div>
<% if (currentUser && post.author.equals(currentUser._id)) { %> 
<div>
    <a href="/posts/<%= post.id %>/edit">
        <button>Edit</button>
    </a>
</div>
<div>
    <form action="/posts/<%= post.id %>?_method=DELETE" method="post">
        <input type="submit" value="Delete">
    </form>
</div>
<% } %> 

<% if (currentUser) { %> 
<h2>Reviews</h2>
<h3>Create a Review</h3>
<form action="/posts/<%= post.id %>/reviews" method="post">
    <textarea name="review[body]" required></textarea>
    <fieldset class="starability-basic">
        <legend>Rating:</legend>
        <button class="clear-rating" type="button">Clear Rating</button>
        <input type="radio" id="rate0" class="input-no-rate" name="review[rating]" value="0" checked aria-label="No rating." />
        <input type="radio" id="rate1" name="review[rating]" value="0" />
        <label for="rate1" title="Terrible">1 star</label>
        <input type="radio" id="rate2" name="review[rating]" value="2" />
        <label for="rate2" title="Not good">2 stars</label>
        <input type="radio" id="rate3" name="review[rating]" value="3" />
        <label for="rate3" title="Average">3 stars</label>
        <input type="radio" id="rate4" name="review[rating]" value="4" />
        <label for="rate4" title="Very good">4 stars</label>
        <input type="radio" id="rate5" name="review[rating]" value="5" />
        <label for="rate5" title="Amazing">5 stars</label>
      </fieldset>
      <input type="submit" value="Review">
</form>
<% } else { %>
    <h2><a href="/login?returnTo=true">Create a Review</a></h2>
    <h2>Reviews</h2>
<% } %>  

<% post.reviews.forEach(function(review) { %> 
    <div>
        Author: <%= review.author.username %><br>
        <%= review.body %>
        <p>Rating: 
            <%= review.rating %> 
                <!-- <fieldset class="starability-basic">
                    <input type="radio" id="show-rate0" class="input-no-rate" name="review[rating]" disabled value="0" checked aria-label="No rating." />
                    <input type="radio" id="show-rate1" name="review[rating]" disabled value="1" />
                    <label for="show-rate1" title="Terrible">1 star</label>
                    <input type="radio" id="show-rate2" name="review[rating]" disabled value="2" />
                    <label for="show-rate2" title="Not good">2 stars</label>
                    <input type="radio" id="show-rate3" name="review[rating]" disabled value="3" />
                    <label for="show-rate3" title="Average">3 stars</label>
                    <input type="radio" id="show-rate4" name="review[rating]" disabled value="4" />
                    <label for="show-rate4" title="Very good">4 stars</label>
                    <input type="radio" id="show-rate5" name="review[rating]" disabled value="5" />
                    <label for="show-rate5" title="Amazing">5 stars</label>
                </fieldset> -->
        </p>
    </div>
    <div>
        <% if(review.author.equals(currentUser._id)) { %> 
        <button class="toggle-edit-form">Edit</button>

        <form action="/posts/<%= post.id %>/reviews/<%= review.id %>?_method=PUT" method="post" class="edit-review-form">
            <textarea name="review[body]" required><%= review.body %> </textarea>
            <fieldset class="starability-basic">
                <legend>Edit Rating:</legend>
                <button class="clear-rating" type="button">Clear Rating</button>
                <input type="radio" id="edit-rate0" class="input-no-rate" name="review[rating]" value="0" checked aria-label="No rating." />
                <input type="radio" id="edit-rate1" name="review[rating]" value="1" />
                <label for="edit-rate1" title="Terrible">1 star</label>
                <input type="radio" id="edit-rate2" name="review[rating]" value="2" />
                <label for="edit-rate2" title="Not good">2 stars</label>
                <input type="radio" id="edit-rate3" name="review[rating]" value="3" />
                <label for="edit-rate3" title="Average">3 stars</label>
                <input type="radio" id="edit-rate4" name="review[rating]" value="4" />
                <label for="edit-rate4" title="Very good">4 stars</label>
                <input type="radio" id="edit-rate5" name="review[rating]" value="5" />
                <label for="edit-rate5" title="Amazing">5 stars</label>
              </fieldset>
            <input type="submit" value="Update">
        </form>

        <script>
            const rates = document.querySelectorAll('#edit-rate<%= review.rating %>, #show-rate<%= review.rating %>');
            const elementsRate = [...rates];
            elementsRate.forEach(element => {
                element.checked = true;
            });
            </script>


        <form action="/posts/<%= post.id %>/reviews/<%= review.id %>?_method=DELETE" method="post">
            <input type="submit" value="Delete">
        </form>
    </div>
<% } %> 
    <hr>
<% }); %> 

<script>
    var post = <%- JSON.stringify(post) %>;
    var mapBoxToken = "<%= mapBoxToken %>";
</script>